extends index

block head
  title Spartan Market | Cart

block content

    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Shopping Cart</h4>
            <div class="site-pagination"></div>
        </div>
    </div>

    <!-- cart section -->
    <section class="cart-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                    <h3>Your Cart</h3>
                        <div class="cart-table-warp">
                            <table>
                                <thead>
                                    <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="size-th">Category</th>
                                    <th class="total-th">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    - for(var i=0; i < items.length; i++) {
                                    <tr>
                                    <td class="product-col">
                                        <div class="pc-title">
                                        <h4>#{items[i].Name}</h4>
                                        <p>#{items[i].Price}</p>
                                        </div>
                                    </td>
                                    <td class="quy-col">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                - if (items[i].Quantity > 1) {
                                                a(href="/dec/"+items[i].ItemID)
                                                    <span class="dec qtybtn">-</span>
                                                - } else {
                                                a(href="/dec/"+items[i].ItemID, onclick="return confirm('Are you sure you want to delete this item?');")
                                                    <span class="dec qtybtn">-</span>
                                                - }
                                                <span>#{items[i].Quantity}</span>
                                                a(href="/inc/"+items[i].ItemID)
                                                    <span class="inc qtybtn">+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="size-col"><h4>#{items[i].Category}</h4></td>
                                    <td class="total-col"><h4>$#{items[i].TotalPrice}</h4></td>
                                    </tr>
                                    - };
                                </tbody>
                            </table>
                        </div>
                        <div class="total-cost">
                            - if (total > 0) {
                                <h6>Total <span>$#{total.toFixed(2)}</span></h6>
                            - } else {
                                <h6>Total <span>$0</span></h6>
                            - }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card-right">
                    - if (total > 0) {
                        <a href="/checkout" class="site-btn">Proceed to checkout</a>
                    - } else {
                        <a href="/cart" class="site-btn" onclick="alert('Cart has no item to check out!');">Proceed to checkout</a>
                    - }
                    <a href="/" class="site-btn sb-dark">Continue shopping</a>
                </div>
            </div>
        </div>
    </section>
    <!-- cart section end -->