extends index

block head
  title Spartan Market | Cart

block content

    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Shopping Cart</h4>
            <div class="site-pagination"></div>
        </div>
    </div>

    <!-- cart section -->
    <section class="cart-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                    <h3>Your Cart</h3>
                        <div class="cart-table-warp">
                            <table>
                                <thead>
                                    <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="size-th">Category</th>
                                    <th class="total-th">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    -var total = 0;
                                    - for(var i=0; i < items.length; i++) {
                                    <tr>
                                    <td class="product-col">
                                        <div class="pc-title">
                                        <h4>#{items[i].Name}</h4>
                                        <p>#{items[i].Price}</p>
                                        </div>
                                    </td>
                                    <td class="quy-col">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1" name="quantity"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="size-col"><h4>#{items[i].Category}</h4></td>
                                    <td class="total-col"><h4>#{items[i].TotalPrice}</h4></td>
                                    </tr>
                                    - total = total + items[i].TotalPrice;};
                                </tbody>
                            </table>
                        </div>
                        <div class="total-cost">
                            <h6>Total <span>#{total}</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card-right">
                    <a href="/checkout" class="site-btn">Proceed to checkout</a>
                    <a href="/" class="site-btn sb-dark">Continue shopping</a>
                </div>
            </div>
        </div>
    </section>
    <!-- cart section end -->