extends index

block head
  title Spartan Market | Edit Profile
  script.
    var password = document.getElementById("password"), confirm_password = document.getElementById("password_confirm");
    function validatePassword(){
      if (password.value != confirm_password).value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

block content

  <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>Edit Profile</h4>
        <div class="site-pagination"></div>
      </div>
    </div>
    
    <section class="cart-section spad">
      <div class="container">
        <div class="row">
          <div class="offset-lg-3 col-lg-6">
            <div class="cart-table">
            <form class="edit-profile-form" action="/profile" method="post">
              <p>Username</p>
              <input type="text" name="username" value=#{user.UserID} readonly/>
              <p>Previous First Name - <strong>#{user.FirstName}</strong></p>
              <input type="text" name="firstname" placeholder="Enter New First Name" required/>
              <p>Previous Last Name - <strong>#{user.LastName}</strong></p>
              <input type="text" name="lastname" placeholder="Enter New Last Name" required/>
              <p>Previous Password</p>
              <input type="password" name="password" placeholder="Enter New Password" required/>
              <input type="password" name="password_confirm" placeholder="Repeat New Password" required/>
              <p>Previous Phone Number - <strong>#{user.PhoneNumber}</strong></p>
              <input type="text" name="phonenumber" placeholder="Enter New Phone Number" pattern="[0-9]{10}" required/>
              //- <div class="total-cost">
              //-   <h6><a href="/profile"><span>DONE</span></a></h6>
              //- </div>
              <div class="center-it">
                <button class="site-btn" type=submit>Done</button> 
              </div>
            </form> 
            </div>
          </div>
        </div> 
        </div> 
      </div>
    </section>
  <!-- Page info end -->
  

