extends index

block head
  title Spartan Market | Edit Profile
  script.
    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
    function validatePassword(){
      if (password.value != confirm_password).value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

block content

  <!-- Page info -->
    <div class="page-top-info">
      <div class="container">
        <h4>Edit Profile</h4>
        <div class="site-pagination"></div>
      </div>
    </div>
    
    <section class="cart-section spad">
      <div class="container">
        <div class="row">
          <div class="offset-lg-3 col-lg-6">
            <div class="cart-table">
            <form id="editprofileform" class="edit-profile-form" >
              <p>First Name</p>
              <input type="text" value=#{user.FirstName} readonly />
              <p>Last Name</p>
              <input type="text" value=#{user.LastName} readonly />
              <p>Previous Username - <strong>#{user.UserID}</strong></p>
              <input type="text" name="username" placeholder="Enter New Username" />
              <p>Previous Password - <strong>#{user.Password}</strong></p>
              <input type="password" id="password" placeholder="Enter New Password" />
              <input type="password" id="password_confirm" placeholder="Repeat New Password"/>

              <p>Previous Phone Number - <strong>#{user.PhoneNumber}</strong></p>
              <input type="text" name="phonenumber" placeholder="Enter New Phone Number" />
              //- <div class="total-cost">
              <button type=submit>Submir</button> 
                //- <h6><a href="/profile"><span>DONE</span></a></h6>
              //- </div>
            </form> 
            </div>
          </div>
        </div> 
        </div> 
      </div>
    </section>
  <!-- Page info end -->
  

